body {
  font: 10px sans-serif;
}

.c {
  width: 950;
  display: block;
  margin: -30 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: orange;
}
.bar:hover {
  fill: orangered ;
}
.x.axis path {
  display: none;
}
.d3-tip {
  line-height: 0.5;
  font-weight: bold;
  padding: 12px;
  background-color:rgba(0, 0, 0, 0.1);;
  color: #fff;
  border-radius: 50px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Custom*/
.small {
  border-width: 0px;
}

.site-heading {
  padding: 0px 0;
  margin: 0;
}

.intro-header {
  background-image: url('');
}

.wrapper {
  width: 100%;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
  width: 30%;
}
