body {
  font: 10px sans-serif;
  background: FloralWhite;
}

.c {
width: 750px;
height: 450;
margin: 0 auto;
}

svg {
  padding: 0;
  margin: 0;
}

#title {
  margin-left: 5%;
}

text {
  font-size: 0.85em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: orange;
}
.bar:hover {
  fill: orangered ;
}
.x.axis path {
  display: none;
}
.d3-tip {
  line-height: 1.2;
  font-weight: bold;
  padding: 22px;
  background-color:rgba(0, 0, 0, 0.1);;
  color: #fff;
  border-radius: 20px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline-block;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Custom*/
.small {
  border-width: 0px;
}

.site-heading {
  padding: 0px 0;
  margin: 0;
}

.intro-header {
  background-image: url('');
}

.wrapper {
  width: 100%;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
  width: 30%;
}
